[workspace]
resolver = "2"
default-members = ["fake"]
members = [
	"fake",
	"devtools/td-layout-config",
	"td-layout",
]

# the profile used for `cargo build`
[profile.dev]
panic = "abort" # disable stack unwinding on panic

# the profile used for `cargo build --release`
[profile.release]
panic = "abort"    # disable stack unwinding on panic
lto = true         # Link-time optimization
