[target.'cfg(target_os = "none")']
runner = "cargo run --package test-runner-server --"

[alias]
kbuild = "build --target x86_64-custom.json -Zbuild-std=core -Zbuild-std-features=compiler-builtins-mem"
kimage = "run --target x86_64-custom.json -Zbuild-std=core -Zbuild-std-features=compiler-builtins-mem -- --no-run"
krun = "run --target x86_64-custom.json -Zbuild-std=core -Zbuild-std-features=compiler-builtins-mem"
ktest = "xtest --target x86_64-custom.json"
xtask = "run -p xtask --"
image = "xtask image"

[target.x86_64-unknown-none]
rustflags = [ "-Crelocation-model=static" ]
