on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: Devtools

env:
  AS: nasm
  RUST_TOOLCHAIN: 1.88.0
  TOOLCHAIN_PROFILE: minimal

jobs:
  devtools_install:
    name: Install
    runs-on: ${{ matrix.host_os }}
    timeout-minutes: 30

    strategy:
      matrix:
        host_os:
          - ubuntu-latest
          - windows-2022
    steps:
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm

      - name: install NASM
        uses: ilammy/setup-nasm@v1

      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Preparation work
        run: make preparation

      - name: Install devtools
        run: make install-devtools

      - name: Set PATH
        shell: bash
        run: |
          echo "$GITHUB_WORKSPACE/devtools/bin" >> $GITHUB_PATH

      - name: Exec Runner Server
        run: test-runner-server -h
