on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: Integration Test

env:
  AS: nasm
  RUST_TOOLCHAIN: nightly-2023-12-31
  TOOLCHAIN_PROFILE: minimal

jobs:
  system_compile:
    name: Run Integration Test
    runs-on: ${{ matrix.host_os }}
    timeout-minutes: 30

    strategy:
      matrix:
        host_os:
          - ubuntu-latest
#          - windows-2019
    steps:
      # Install first since it's needed to build NASM
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm

      - name: install NASM
        uses: ilammy/setup-nasm@v1

      - name: Checkout sources
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          components: rust-src, llvm-tools-preview

      - name: Run cargo install cargo-xbuild
        run: cargo install cargo-xbuild

      # install QEMU
      - name: Install QEMU (Linux)
        run: sudo apt update && sudo apt install qemu-system-x86
        if: runner.os == 'Linux'
      - name: Install QEMU (Windows)
        run: |
          choco install qemu --version 2021.5.5
          echo "$Env:Programfiles\qemu" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        if: runner.os == 'Windows'
        shell: pwsh
      - name: "Print QEMU Version"
        run: qemu-system-x86_64 --version

      - name: Preparation Work
        run: make preparation

      # - name: Run Tests
      #   run: make integration-test
