on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: Library Crates

env:
  AS: nasm
  RUST_TOOLCHAIN: 1.88.0
  TOOLCHAIN_PROFILE: minimal

jobs:
  compile:
    name: Build Library Crates
    runs-on: ${{ matrix.host_os }}
    timeout-minutes: 30

    strategy:
      matrix:
        host_os:
          - ubuntu-latest
          - windows-2022
    steps:
      # Install first since it's needed to build NASM
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm

      - name: install NASM
        uses: ilammy/setup-nasm@v1

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Checkout sources
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Preparation work
        run: bash sh_script/preparation.sh

      - name: Build library crates
        run: make lib-build

  test:
    name: Test Library Crates

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-2022]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
      # Install first since it's needed to build NASM
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm

      - name: install NASM
        uses: ilammy/setup-nasm@v1

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Checkout sources
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Preparation Work
        run: make preparation

      - name: Test library crates
        run: make lib-test
